*{
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
img{
    width: 36vh;
    height: 6vh;
}
.navBarPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.ulLogin{
    display: flex;
    flex-direction: row;
}
.ulPrincipal{
    display: flex;
    flex-direction: row;
    background-color: #FF416C;
    justify-content: space-evenly;
    align-items: center;
    color: white;     
}
.navBarLista li{
    display: flex;
    padding: 5px;   
    color: white;
}
.navBarPrincipal{
    display: flex;
    flex-direction: row;
}
.listaLogin li{
    display: flex;
    padding: 5px;
    color: #000;    
}