*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 1rem;
  }


form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    height: 100vh;
    text-align: center;
    
}
input{
    display: flex;
    padding: 16px 3vw;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: #EDE;
    
}
.botao input{
    display: flex;    
    padding: 9px 5.5vw;
    background-color: #FF4B60;
    border: none;
    color: aliceblue;
}
.imagemLado{        
    /* background: #FF416C; */
    grid-column-start: 2;
    grid-column-end: 5
}
img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}
a{    
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    
}
button{    
    display: flex;
    padding: 9px;
    background-color: #FF4B60;
    border-radius: 5px;
    border: none;
    justify-content: center;
}

 .botao{
    display: flex;
    flex-direction: column;       
    text-align: center;
} 
